Repository multitheftauto/mtasa-resources, pull requests merged in 2019-09, with the labels that each got.

#167 Changed renderKnifingTag() getElementPosition to getPedBonePosition
  [gameplay]/freeroam/fr_client.lua
Labels: enhancement, resource:freeroam

#153 admin2: Fix #152
  [admin]/admin2/client/main/admin_players.lua
Labels: bug, resource:admin

#169 admin & admin2: Added /clearchat command
  [admin]/admin/client/gui/admin_main.lua
  [admin]/admin/conf/ACL.xml
  [admin]/admin/conf/commands.xml
  [admin]/admin/conf/messages.xml
  [admin]/admin/server/admin_server.lua
  [admin]/admin2/client/main/admin_server.lua
  [admin]/admin2/conf/ACL.xml
  [admin]/admin2/conf/commands.xml
  [admin]/admin2/conf/messages.xml
  [admin]/admin2/server/admin_functions.lua
Labels: enhancement, resource:admin
