Repository multitheftauto/mtasa-resources, pull requests merged in 2020-06, with the labels that each got.

#218 editor: elements represented by an object had no scaling applied
  [editor]/edf/edf.lua
Labels: resource:editor

#219 Fix for #175
  [editor]/editor_main/client/main.lua
Labels: bug, resource:editor

#220 editor: replace 1729ceb (#219) with a better fix
  [editor]/editor_main/client/main.lua
Labels: resource:editor

#216 race: Change the start of countdown from 6 to 3
  [gamemodes]/[race]/race/race_server.lua
Labels: resource:race
