Repository multitheftauto/mtasa-resources, pull requests merged in 2020-12, with the labels that each got.

#261 admin2: Replace `getPlayerFromNick` to hardcoded `getPlayerFromName`
  [admin]/admin2/client/admin_wrapper.lua
  [admin]/admin2/client/widgets/admin_spectator.lua
  [admin]/admin2/client/widgets/admin_warp.lua
Labels: resource:admin

#234 editor: Fix creation of colshapes as children in custom EDFs
  [editor]/edf/edf.lua
Labels: resource:editor

#228 race: add car fade addon
  [gamemodes]/[race]/[addons]/race_carfade/carfade_client.lua
  [gamemodes]/[race]/[addons]/race_carfade/meta.xml
  [gamemodes]/[race]/[addons]/race_carfade/playeralpha_client.lua
  [gamemodes]/[race]/[addons]/race_carfade/settings_client.lua
  [gamemodes]/[race]/[addons]/race_carfade/settings_server.lua
  [gamemodes]/[race]/[addons]/race_carfade/util_server.lua
  [gamemodes]/[race]/[addons]/race_carfade/util_shared.lua
Labels: resource:race
