Repository multitheftauto/mtasa-resources, pull requests merged in 2020-11, with the labels that each got.

#155 editor: Fix #142
  [editor]/editor_main/server/dumpxml.lua
  [editor]/editor_main/server/saveloadtest_server.lua
Labels: bug, resource:editor

#226 race: Add ghost mode transparency amount setting
  [gamemodes]/[race]/race/meta.xml
  [gamemodes]/[race]/race/modes/base.lua
  [gamemodes]/[race]/race/race_server.lua
Labels: resource:race

#192 votemanager: added additional resource settings for ban votes
  [managers]/votemanager/meta.xml
  [managers]/votemanager/votemanager_polls.lua
Labels: resource:votemanager

#257 editor: Change `usedLODModels` structure
  [editor]/editor_main/client/mapEditorScriptingExtension_c.lua
  [editor]/editor_main/server/mapEditorScriptingExtension_s.lua
Labels: resource:editor
