Repository multitheftauto/mtasa-resources, pull requests merged in 2021-01, with the labels that each got.

#271 Race : Problem to restore rotation of vehicles - restorePlayer function - base.lua
  [gamemodes]/[race]/race/modes/base.lua
Labels: bug, resource:race

#270 editor: reset availGamemodes table after creating a new map
  [editor]/editor_main/server/mapsettingssync.lua
Labels: bug, resource:editor

#286 Add higher quality image to freeroam
  [gameplay]/freeroam/img/map.png
Labels: enhancement, resource:freeroam

#245 editor: #244 organizational output setting
  [editor]/editor_main/meta.xml
  [editor]/editor_main/server/saveloadtest_server.lua
Labels: enhancement, resource:editor
