Repository multitheftauto/mtasa-resources, pull requests merged in 2021-03, with the labels that each got.

#285 admin: fix output message on actions
  [admin]/admin/server/admin_server.lua
Labels: bug, resource:admin

#268 Add hedit
  [gameplay]/hedit/client/core.lua
  [gameplay]/hedit/client/exports.lua
  [gameplay]/hedit/client/gui/guicreator.lua
  [gameplay]/hedit/client/gui/guievents.lua
  [gameplay]/hedit/client/gui/guifunctions.lua
  [gameplay]/hedit/client/gui/guimanager.lua
  [gameplay]/hedit/client/gui/guiwrapper.lua
  [gameplay]/hedit/client/gui/languages/arabic.lua
  [gameplay]/hedit/client/gui/languages/english.lua
  [gameplay]/hedit/client/gui/languages/polish.lua
  [gameplay]/hedit/client/gui/languages/russian.lua
  [gameplay]/hedit/client/gui/languages/spanish.lua
  [gameplay]/hedit/client/gui/languages/turkish.lua
  [gameplay]/hedit/client/gui/templates/default.lua
  [gameplay]/hedit/client/gui/warningwnd.lua
  [gameplay]/hedit/client/logmanager.lua
  [gameplay]/hedit/client/settings.lua
  [gameplay]/hedit/client/utils.lua
  [gameplay]/hedit/client/variables/general.lua
  [gameplay]/hedit/client/variables/vehicle.lua
  [gameplay]/hedit/images/error.png
  [gameplay]/hedit/images/info.png
  [gameplay]/hedit/images/question.png
  [gameplay]/hedit/images/warning.png
  [gameplay]/hedit/meta.xml
  [gameplay]/hedit/resource_handlingloader
  [gameplay]/hedit/server/cfgloader.lua
  [gameplay]/hedit/server/core.lua
  [gameplay]/hedit/server/logmanager.lua
  [gameplay]/hedit/server/utils.lua
  [gameplay]/hedit/shared/settings.lua
  [gameplay]/hedit/shared/utils.lua
  [gameplay]/hedit/shared/variables/general.lua
  [gameplay]/hedit/shared/variables/handlingGTA.lua
  [gameplay]/hedit/shared/variables/handlingMTA.lua
  [gameplay]/hedit/shared/wrappers/general.lua
  [gameplay]/hedit/shared/wrappers/handling.lua
  [gameplay]/hedit/utils_migrate.lua
Labels: enhancement

#306 Pickup respawn fix
  [gamemodes]/[race]/race/race_client.lua
  [gamemodes]/[race]/race/race_server.lua
Labels: bug, resource:race
