Repository multitheftauto/mtasa-resources, pull requests merged in 2022-12, with the labels that each got.

#397 ajax: add json detection
  [web]/ajax/ajax.js
Labels: bug

#363 play: refactor
  [gamemodes]/[play]/play/broph.lua
  [gamemodes]/[play]/play/meta.xml
  [gamemodes]/[play]/play/play.lua
  [gamemodes]/[play]/play/play_config.lua
  [gamemodes]/[play]/play/play_players.lua
  [gamemodes]/[play]/play/play_vehicles.lua
Labels: resource:play, refactor

#383 Remove legacy json lib
  [web]/ajax/ajax.js
  [web]/ajax/ajax.lua
  [web]/ajax/json.js
  [web]/ajax/meta.xml
  [web]/elementbrowser/script.js
  [web]/resourcemanager/manager.lua
Labels: bug, web, resource:ajax

#399 Upgrade deprecated functions
  [admin]/admin2/client/main/admin_players.lua
  [admin]/admin2/server/admin_functions.lua
  [gameplay]/freeroam/fr_client.lua
  [gameplay]/freeroam/fr_server.lua
  [gameplay]/interiors/interiors_client.lua
  [gameplay]/parachute/skydiving_cl.lua
Labels: refactor
