Repository multitheftauto/mtasa-resources, pull requests merged in 2023-01, with the labels that each got.

#389 editor_main: Disable OOP in meta.xml for scripting extensions
  [editor]/editor_main/server/dumpxml.lua
Labels: resource:editor

#391 Fix "No map selected!" message box when clicking search map editbox
  [admin]/admin/client/gui/admin_maps.lua
Labels: bug, resource:admin

#394 editor_main: Fix various issues
  [editor]/edf/edf.lua
  [editor]/editor_main/client/main.lua
  [editor]/editor_main/server/saveloadtest_server.lua
Labels: bug, resource:editor

#395 freecam: Add support for changing field of view
  [editor]/editor_gui/client/options_action.lua
  [editor]/editor_gui/client/options_backend.lua
  [editor]/editor_gui/client/options_gui.lua
  [editor]/editor_main/client/controls.lua
  [editor]/freecam/freecam.lua
Labels: enhancement, resource:freecam

#225 playerblips: various improvements
  [gameplay]/freeroam/fr_server.lua
  [gameplay]/freeroam/meta.xml
  [gameplay]/playerblips/meta.xml
  [gameplay]/playerblips/playerblips.lua
  [gameplay]/playerblips/server/main.lua
Labels: enhancement, resource:playerblips

#369 Hedit delete button translations
  [gameplay]/hedit/client/gui/languages/arabic.lua
  [gameplay]/hedit/client/gui/languages/polish.lua
  [gameplay]/hedit/client/gui/languages/russian.lua
  [gameplay]/hedit/client/gui/languages/spanish.lua
  [gameplay]/hedit/client/gui/languages/turkish.lua
Labels: enhancement, resource:hedit
