Repository multitheftauto/mtasa-resources, pull requests merged in 2024-11, with the labels that each got.

#572 superman: Initial fixes
  [gameplay]/superman/client.lua
  [gameplay]/superman/meta.xml
  [gameplay]/superman/server.lua
Labels: enhancement, resource:superman

#573 Fix #535: Map key bind interferes with race editor help
  [gameplay]/freeroam/fr_client.lua
Labels: resource:freeroam

#571 freeroam: bugfix on fr_client.lua onExitVehicle function
  [gameplay]/freeroam/fr_client.lua
Labels: resource:freeroam

#574 Update racevoting_server.lua
  [gamemodes]/[race]/race/racevoting_server.lua
Labels: resource:race
