Repository multitheftauto/mtasa-resources, pull requests merged in 2024-09, with the labels that each got.

#530 freeroam: fix freezetime flickering #529
  [gameplay]/freeroam/fr_client.lua
Labels: enhancement, resource:play

#545 freeroam: use new function setTimeFrozen
  [gameplay]/freeroam/fr_client.lua
  [gameplay]/freeroam/meta.xml
Labels: enhancement, resource:play

#539 editor: Fix UI appearing during map testing when "collision patches" enabled
  [editor]/editor_gui/client/test.lua
Labels: bug, resource:editor

#540 [editor] Fix editor_gui test panel
  [editor]/editor_gui/client/test.lua
  [editor]/editor_main/server/saveloadtest_server.lua
Labels: bug, resource:editor

#543 [editor] Fix duplicate map meta entries resulting in editor suspending.
  [editor]/editor_main/server/resourcehooks.lua
Labels: bug, resource:editor

#542 [editor] Toggleable rotation mechanic and improve threshold
  [editor]/editor_main/client/rotation.lua
Labels: bug, enhancement, resource:editor

#546 editor: Fix EDF custom elements rotation issues on undo/manual Adjustment
  [editor]/move_keyboard/move_keyboard.lua
Labels: bug, resource:editor

#522 deathmatch: additional improvements
  [gamemodes]/[deathmatch]/deathmatch/client/hud.lua
  [gamemodes]/[deathmatch]/deathmatch/client/main.lua
  [gamemodes]/[deathmatch]/deathmatch/client/spectate.lua
  [gamemodes]/[deathmatch]/deathmatch/meta.xml
  [gamemodes]/[deathmatch]/deathmatch/server/main.lua
  [gamemodes]/[deathmatch]/deathmatch/server/player.lua
  [gamemodes]/[deathmatch]/deathmatch/server/round.lua
  [gamemodes]/[deathmatch]/deathmatch/shared/shared.lua
Labels: bug, enhancement, resource:deathmatch
